.header {
  margin: 45px auto 40px auto;
  padding: 0;
  max-width: 880px;
  border-bottom: 1px solid hsla(0, 0%, 33%, 0.7);
  box-sizing: border-box;
}

@media (max-width: 929px) {
  .header {
    max-width: 600px;
  }
}

@media (max-width: 644px) {
  .header {
    margin: 28px auto 42px auto;
    max-width: 100%;
  }
}
