.place__remove{
  position: absolute;
  right: 20px;
  top: 20px;
  border: 0;
  outline: 0;
  height: 19px;
  width: 18px;
  background: url(../../../images/trash.svg) no-repeat;
  cursor: pointer;
  transition: opacity 0.1s ease;
}

.place__remove:hover{
  opacity: 0.6;
}

